// Navigation code here
header{
    ul {
        display: flex;
        justify-content: center;;
        li, a{
            font-size: 1.5rem;
            text-decoration: none;
            padding: 1rem;
            color: @ebony-clay
        }
    }
    h1 {
        font-size: 4rem;
        text-align: center;
        padding: 1rem;
    }
}
